.error__container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error__stack {
  width: 100%;
  max-width: 400px;
  gap: 5px;
}

.error__text {
  text-align: center;
  font-size: 24px;
}

.error__button--container {
  display: flex;

  gap: 20px;
}

.error__button--container button {
  width: 100%;
  color: black;
  padding: 10px;
  border-radius: 10px;
}

.suspense__center {
  display: flex;
  align-items: center;
  justify-content: center;
}
