a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 20px;
  gap: 10px;
  height: 100vh;
  overflow-y: auto;
}
.main-section {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
